<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask Admin Panel</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="{{ url_for('app_routes.dashboard') }}">Dashboard</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('app_routes.edit_profile') }}">Edit Profile</a></li>
            {% if current_user.role == 'admin' %}
            <li><a href="{{ url_for('app_routes.dashboard') }}">Manage Users</a></li>
            {% endif %}
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% else %}
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    
    <ul class="flash-messages">
        {% for category, message in get_flashed_messages(with_categories=True) %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>

    <div>
        {% block content %}{% endblock %}
    </div>
    
    
</body>
</html>
