* {
    background-image: url("desola-lanre-ologun-zYgV-NGZtlA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
